body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fc;
    padding: 20px;
}

.projects {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
.projects th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}
.projects th {
    background-color: black;
    color: white;
}
.projects tr:nth-child(even) {
    background-color: #f2f2f2;
}

.projects tr.hidden {
    display: none;
}

.projects .project-row {
    cursor: pointer;
}

.projects .project-row:hover {
    background-color: lightgray;
}

.projects caption {
    text-align: left;
    font-size: 1.5em;
    margin-bottom: 10px;
}
  /* Custom alignments */
.projects th:nth-child(1), .projects td:nth-child(1) {
    text-align: left; /* Project name */
}
.projects th:nth-child(2), .projects td:nth-child(2) {
    text-align: center; /* Version */
}
.projects th:nth-child(3), .projects td:nth-child(3) {
    text-align: left; /* Description */
}
.projects th:nth-child(4), .projects td:nth-child(4) {
    text-align: left; /* Language */
}
.projects th:nth-child(5), .projects td:nth-child(5) {
    text-align: center; /* Public */
}
.projects th:nth-child(6), .projects td:nth-child(6) {
    text-align: center; /* Level */
}
.projects th:nth-child(7), .projects td:nth-child(7) {
    text-align: left; /* Interface */
}
.projects th:nth-child(8), .projects td:nth-child(8) {
    text-align: left; /* Type */
}

.details {
    display: none;
    padding: 20px;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
    margin-top: 10px;
}
.project-info {
    display: flex;
    align-items: center;
}
.project-info img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}
.project-info .project-name {
    font-size: 1.5em;
    font-weight: bold;
}
.project-info .project-version {
    font-size: 1.1em;
    color: #666;
}

.project-info .project-date {
    font-size: 0.8em;
    color: #666;
}
.project-details {
    margin-top: 20px;
}
.project-details h3 {
    font-size: 1.3em;
    color: #333;
}
.project-details p {
    font-size: 1.1em;
    color: #666;
}
.project-details .screenshots {
    display: flex;
    gap: 15px;
}
.project-details .screenshots img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border: 1px solid #ddd;
}

#searchInput {
    width: 600px;
    padding: 8px 12px;
    border-radius: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

@media only screen and (max-width: 992px) {
    body .project-info img { width: 250px; }
    body .project-info .project-name { font-size: 100px; }
    body .project-info .project-version { font-size: 60px; }
    body .project-info .project-date { font-size: 40px; }
    body .project-details .screenshots { display: block; }
    body .project-details .screenshots img { width: 100%; height: auto; }
}